# This file is a minimal version of the default config file.
# This is NOT supposed to be enough for a fully running server.
# Please read the fivem documentation:
#   https://docs.fivem.net/docs/server-manual/server-commands/
#   https://docs.fivem.net/docs/server-manual/setting-up-a-server/

## You CAN edit the following:
endpoint_add_tcp "0.0.0.0:30120"
endpoint_add_udp "0.0.0.0:30120"
sv_maxclients 5
set steam_webApiKey "5D6E4D642A7592590B9E77810667A389"
sets tags "default, deployer, roleplay, genesis, genesisrp, real life, jobs, custom cars"

## You MAY edit the following:
sv_licenseKey "cfxk_1BFSkR3JeluA5AG8205KO_3js4Ch"
sv_hostname "GenesisRP"
sets sv_projectName "GenesisRP"
sets sv_projectDesc "Realistic RolePlay Experience with custom cars and jobs"
sets locale "root-AQ" 

## These resources will start by default.
ensure mapmanager
ensure chat
ensure spawnmanager
ensure sessionmanager
ensure basic-gamemode
ensure hardcap

## Custom Cars
start p1
start dodgeChallenger
start trackhawk
start m5
start policeSRT
start policeCruiser

## Add system admins
add_ace group.admin command allow # allow all commands
add_ace group.admin command.quit deny # but don't allow quit
add_principal identifier.fivem:7263215 group.admin #Brxng
